---
layout: markdown_page
title: "GitLab Certifications"
description: "Build your GitLab knowledge by proving your skills with a GitLab Certification. Learn more!"
canonical_path: "/learn/certifications"
---

## Currently available certifications

All GitLab certifications can be found below. This list includes certifications only available to GitLab Team Members.

You can also see our page for **[publicly available certifications](/learn/certifications/public)**, which also covers more about what is a GitLab certification, requirements, and why you should consider one. 

| Use Case | Certification |
| --- | --- |
<% data.learn.learn.select{|course| course.assessment == "Certification" && course.live_date && Date.parse(course.live_date) <= Date.today}.each do |course| %>
<%= "| #{course.use_case} | [#{course.name}](#{course.url}) |" %>
<% end %>

You can also browse these and other GitLab-produced learning resources at [GitLab Learn](https://about.gitlab.com/learn/).
